* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background-color: #f8f8f8;
}

header {
    background-color: rgb(0, 102, 255);
    border: 1px solid rgba(0, 0, 0, 0.208);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo>h1>a {
    text-decoration: none;
    color: white;
}

.logo {
    margin: auto;
}

.nav-bar {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-carrinho {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.overlay {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 10;
    width: 0;
    background-color: #242726;
    transition: all 0.3s ease-in-out;
}

.overlay>a {
    padding: 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: rgb(0, 102, 255);
    color: white;
    gap: 2%;
}

.statusCompra {
    display: none;
    align-items: center;
    padding: 1rem;
    gap: 2%;
    background-color: rgb(245, 152, 3);
    color: white;
}

.statusCompra>span {
    font-size: 2em;
}

.statusCompra>h3 {
    font-size: 16px;
}

.carrinho {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 100%;
}

.container-produtos {
    overflow-y: auto;
}


/*Container dos produtos */

.lista-produtos>li {
    display: flex;
    margin-bottom: 0.5rem;
}

.item-produto {
    width: 85%;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    gap: 1%;
}

.img-produto {
    width: 20%;
}

.img-produto>img {
    object-fit: contain;
    height: 60px;
    width: 100%;
}

.nome-produto {
    width: 50%;
    height: fit-content;
    overflow-wrap: break-word;
    font-size: 14px;
    color: #cecece;
}

.preco-produto {
    width: 30%;
    font-size: 14px;
    overflow-wrap: break-word;
    color: azure;
}

.deleta-produto {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    cursor: pointer;

}

/* FIM Container dos produtos */
.container-total {
    padding: 1rem;
    border-top: 1px solid white;
}

.valor-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.valor-total>output {
    color: rgb(5, 229, 5);
}

.container-total>button {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    color: white;
    background-color: rgb(0, 123, 0);
    border: none;
    border-radius: 6px;
    transition: all 0.3s;
}

.container-total>button:hover {
    background-color: rgb(1, 88, 1);
}

button {
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

#banner {
    height: 150px;
    background: white url("../img/bannerloja.png") no-repeat center;
    background-size: cover;
}

main {
    margin: 30px 0px;
    padding: 1.2rem;
}

main>h1 {
    margin: 10px 0px 20px 0px;
    font-size: 3em;
    text-align: center;
}

div.filtro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.14);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.102);
}

.buscar {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.239);
    width: 100%;
    justify-content: end;
}

.buscar>input {
    padding: 1rem;
    width: 100%;
    border: none;
}

.buscar>input:focus {
    outline: none;
}

.buscar>button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 50px;
    background-color: greenyellow;
    padding: 0rem 1rem;
    border: none;
    cursor: pointer;
}

main>h2 {
    margin: 10px 0px 10px 0px;
    font-size: 2em;
}

.cancelarBusca {
    text-align: end;
    display: none;
    text-decoration: underline;
    cursor: pointer;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
}

.card {
    width: 100%;
    margin: 10px 0px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.235);
    transition: all 0.4s ease-in-out;
    background-color: white;
}

.card>img {
    width: 100%;
    object-fit: contain;
    height: 200px;
}

.card>h3 {
    padding: 0rem 1rem;
    margin: 20px 0px;
    color: #1E3A8A;
}

.card>h4 {
    padding: 0rem 1rem;
    color: #515151;
}

.card>button {
    width: 100%;
    background-color: rgb(71, 255, 47);
    border: none;
    height: 50px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}

.card>button:hover {
    background-color: rgb(62, 211, 43);
}

footer {
    width: 100%;
    padding: 1rem;
    background-color: #333;
    color: white;
    text-align: center;
}

footer h1 {
    color: #0766fe;
    margin: 20px 0px;
    font-size: 1.4rem;
}

footer h2 {
    margin: 15px 0px;
    font-size: 1.1rem;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(122, 122, 122);
}

@media screen and (min-width:768px) {
    div.card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 300px;
    }

    #banner {
        height: 450px;
    }

    div.filtro {
        flex-direction: row;
    }

    .buscar {
        width: 20%;
    }

    div.flex {
        justify-content: space-between;
    }

    .overlay {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: 10;
        width: 0%;
        background-color: #333;
        transition: all 0.3s ease-in-out;
    }

    .produtosCarrinho {
        color: white;
    }
}